<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Raw_File_Uploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Raw_File_Uploader.Properties.Settings>
            <setting name="custom_emailserver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SMTP_server" serializeAs="String">
                <value/>
            </setting>
            <setting name="sender" serializeAs="String">
                <value/>
            </setting>
            <setting name="server_port" serializeAs="String">
                <value/>
            </setting>
            <setting name="password" serializeAs="String">
                <value/>
            </setting>
            <setting name="enable_ssl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notification_sub" serializeAs="String">
                <value/>
            </setting>
            <setting name="notification_body" serializeAs="String">
                <value/>
            </setting>
        </Raw_File_Uploader.Properties.Settings>
    </userSettings>
</configuration>
